<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\Temp\internal-nlog.txt">

	<extension>
		<add assembly="NLog.Web.AspNetCore"/>
	</extension>

	<targets>
		<target name="file" xsi:type="File"
		        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		        fileName="${basedir}/logs/logfile.txt"
		        encoding="utf-8" />

		<target name="exceptions" xsi:type="File"
		        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		        fileName="${basedir}/logs/logExceptions.txt"
		        encoding="utf-8" />

		<target name="request-time" xsi:type="File"
		        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		        fileName="${basedir}/logs/requestTime.txt"
		        encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI.Middleware.RequestTimeMiddleware*" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>